@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,100&display=swap');
body{
    margin: 0;
        
}
.navi{
	margin-left: 1.2em;
	margin-top: 1em;
}

.nav-contents{
    margin-left: 68em;
    margin-top: 0em;
}

.bold-p{
    font-weight: bold;
    
}
.space{
    margin: 8em 8em;
}.top-space{
    margin: 2em 2em;
    padding: 2em 2em;
}
.top-one-space{
    margin: 4em 4em;
}
.fwd{
    height: 100vh;
    background-color: white;
    box-sizing: border-box;
    font-family: "Roboto Mono"
    
}
#cards-t{
    text-align: center;
    border: 0.1px solid black;
	border-radius: 9px;
    margin-bottom: 3em;
    padding-bottom: 2em;
    padding-top: 2em;
    
}
#cards-t h3{
    margin-bottom: 2em;
    
}

#title{
    font-size: 3.6em;
    margin-right: 0em;
    padding-right: 0em; 
    text-decoration: underline;
}

#qst{
    font-size: 2em;
}

#para{
    font-size: 1em;
}

.top-btn-bl{
  background-color: #0060FF; 
  border: none;
  color: white;
  margin-left: 1em;
  padding: 8px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  text-decoration: none;
}
hr.style-four {
    height: 13px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
footer{
  text-align: center;
  margin-top: 1em;
    
}


/*individual */

.one-bg{ 
    text-align: left;
    margin-top: 8em;
    margin-bottom: -15em;
    padding-bottom: 0em;
}


.two-bg{ 
    text-align: left;
    margin-top: 5em;
    margin-bottom: -10em;
}


.four-bg{ 
    text-align: left;
    margin-top: 3em;
    margin-bottom: -12em;
}
.contact-bg{
    margin-bottom: -10em;
}



/*responsive crap*/
/*global*/
@media only screen and (max-width: 600px) {
.navi{
  margin-left: 1.2em;
  margin-top: 1em;
}

.nav-contents{
    margin-left: 1.8em;
    margin-top: 0em;
}
.top-btn-bl{
  background-color: #0060FF; 
  border: none;
  color: white;
  margin-left: 0.2em;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.6em;
  border-radius: 5px;
  text-decoration: none;
}
.nav-contents a{
  font-size: 0.6em;

}
.space{
    margin: 5em 5em;
}.top-space{
    margin: 0;
    padding: 1em 1em;
}
.top-one-space{
    margin: 2em 2em;
}

#title{
    font-size: 1.5rem;
    padding-right: 1em;
    padding-top: 0em;
    margin-right: 0; 
}

#qst{
    font-size: 1em;
    font-weight: bold;
}

#para{
    font-size: 0.7em;
    margin-right: 1em;
}

    
/*individual*/
.one-bg{ 
    text-align: left;
    margin-top:4em;
    margin-bottom: -10em;
    padding-bottom: 0em;
}


.two-bg{ 
    text-align: left;
    margin-top: 3em;
    margin-bottom: -6em;
}


.four-bg{ 
    text-align: left;
    margin-top: 3em;
    margin-bottom: -10em;
    padding-bottom: 3em;
}
#cards-t{
    text-align: center;
    border: 0.1px solid black;
	border-radius: 9px;
    margin-bottom: 15em;
    padding-bottom: 2em;
    padding-top: 2em;
    
}
#cards-t h3{
    margin-bottom: 2em;
    font-size: 1.5em;
    
}
    
    
}
/*responsive crap*/
/*global*/
@media only screen and (max-width: 425px) {

.top-btn-bl{
  background-color: #0060FF; 
  border: none;
  color: white;
  margin-left: 0.2em;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.6em;
  border-radius: 5px;
  text-decoration: none;
}

.space{
    margin: 5em 5em;
}.top-space{
    margin: 0;
    padding: 1em 1em;
}
.top-one-space{
    margin: 2em 2em;
}

#title{
    font-size: 1.5rem;
    padding-right: 1em;
    padding-top: 0em;
    margin-right: 0; 
}

#qst{
    font-size: 1em;
    font-weight: bold;
}

#para{
    font-size: 0.7em;
    margin-right: 1em;
}

    
/*individual*/
.one-bg{ 
    text-align: left;
    margin-top:4em;
    margin-bottom: -10em;
    padding-bottom: 0em;
}


.two-bg{ 
    text-align: left;
    margin-top: 3em;
    margin-bottom: -6em;
}


.four-bg{ 
    text-align: left;
    margin-top: 3em;
    margin-bottom: -10em;
}
#cards-t{
    text-align: center;
    border: 0.1px solid black;
	border-radius: 9px;
    margin-bottom: -9em;
    padding-bottom: 2em;
    padding-top: 2em;
    
}
#cards-t h3{
    margin-bottom: 2em;
    font-size: 1.5em;
    
}
      
    
    
}

