@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,100&display=swap');
body{
    margin: 0;
        
}
.navi{
	margin-left: 1.2em;
	margin-top: 1em;
}

.nav-contents{
    margin-left: 68em;
    margin-top: 0.4em;
}
.bold-p{
    font-weight: bold;
    
}

.fwd{
    height: 100vh;
    background-color: white;
    box-sizing: border-box;
    font-family: "Roboto Mono"
    
}

/* home-section */
.home-bg{ 
    text-align: left;
    margin-top: 8em;
}

.home-bg h1{
    font-size: 3.5rem;
    padding-right: 0em;
    padding-top: 0em;
}
.home-bg p{
    margin-top: 1.5em;
    margin-bottom: 1.0em;
    padding-right: 3.1em;
}
.home-span-p{
    color: dodgerblue;
    text-decoration: underline;
}

.home h4{
  font-size: 1.2em;
  margin-top: 2em;
}



.two-bg{ 
    text-align: left;
    margin-top: 20em;
}

.two-bg h1{
    font-size: 3.1rem;
    padding-right: 1em;
    padding-top: 0em;
}
.two-bg p{
    margin-top: 1.5em;
    margin-bottom: 0em;
    padding-right: 3.1em;
    margin-right: 10em;
}
.two-p-span{
    font-weight: bold;
    
}
#two h3{
  font-size: 2.5em;
}
.sse {
        margin-top: 0em;
    }


.three-bg{ 
    text-align: left;
    margin-top: 20em;
}


.three-bg p{
    font-size: 0.5em;
    margin-top: 1.5em;
    margin-bottom: 1.em;
    margin-right: 10em;
}
.three-p-span{
    font-weight: bold;
    
}
#three h3{
  font-size: 2.5em;
    margin-top: 2em;
}

.four-bg{ 
    text-align: left;
    margin-top: 0em;
}

.four-bg h1{
    
    font-size: 1rem;
    padding-right: 1em;
    padding-top: 0em;
}
.four-bg p{
    font-size: 0.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 10em;
}
.four-p-span{
    font-weight: bold;
    
}
#four h3{
  font-size: 1em;
}



/* Buttons */

.btnss{
    padding-right: 4em;
  
}

.button-y {
  background-color: #FFD537; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  text-decoration: none; 
  margin: 0.5em;
}


.button-b{
    background-color: #0060FF; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  text-decoration: none;

}


.top-btn-bl{
  background-color: #0060FF; 
  border: none;
  color: white;
  margin-left: 1em;
  padding: 8px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  text-decoration: none;
}
hr.style-four {
    height: 13px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}






.contact-bg{
align-items: center;
  text-align: center;

}

.contact-bg h1{
  padding-top: 2em;
  padding-bottom: 2em;
}



footer{
  padding-top: 1em;
  padding-bottom: 2em;
}


/*responsive crap*/
@media only screen and (max-width: 600px) {
.navi{
  margin-left: 1.2em;
  margin-top: 1em;
}

.nav-contents{
    margin-left: 0.5em;
    margin-top: 0.4em;
}
.bold-p{
    font-weight: bold;
    
}


.home-bg{ 
    text-align: left;
    margin-top: 1em;
}

.home-bg h1{
    font-size: 1.5rem;
    padding-right: 1em;
    padding-top: 0em;
    margin-right: 0;
}
.home-bg p{
    font-size: 0.8em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 0em;
    /*padding-right: 3.1em;*/
}
.home-span-p{
    color: dodgerblue;
    text-decoration: underline;
}
#home h4{
  font-size: 1em;
}



.two-bg{ 
    text-align: left;
    margin-top: -5em;
}

.two-bg h1{
    font-size: 1rem;
    padding-right: 1em;
    padding-top: 0em;
}
.two-bg p{
    font-size: 0.8em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 0em;
}
.two-p-span{
    font-weight: bold;
    
}
#two h3{
  font-size: 1em;
}

    
.three-bg{ 
    text-align: left;
    margin-top: 20em;
}

.three-bg h1{
    font-size: 1rem;
    padding-right: 1em;
    padding-top: 0em;
}
.three-bg p{
    font-size: 0.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 10em;
}
.three-p-span{
    font-weight: bold;
    
}
#three h3{
  font-size: 1em;
}

.four-bg{ 
    text-align: left;
    margin-top: 0em;
}

.four-bg h1{
    font-size: 1rem;
    padding-right: 1em;
    padding-top: 0em;
}
.four-bg p{
    font-size: 0.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 10em;
}
.four-p-span{
    font-weight: bold;
    
}
#four h3{
  font-size: 1em;
}






.top-btn-bl{
  background-color: #0060FF; 
  border: none;
  color: white;
  margin-left: 0.2em;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.6em;
  border-radius: 5px;
  text-decoration: none;
}
.nav-contents a{
  font-size: 0.6em;

}



.sse {
        margin-top: -5em;
    }

















.btnss{
    padding-right: 0.5em;
  
}

    

}








